<% if flash[:error] %>
  <div class="mgin11 alert alert-danger" id="flash_bar_danger">
    <%= flash[:error] %>
  </div>
<% end %>
<% if flash[:notice] %>
  <div class="mgin11 alert alert-success" id="flash_bar_success">
    <%= flash[:notice] %>
  </div>
<% end %>
