<div class="container px-lg-5 main">
  <form action="/player" id="player-name-form" method="POST" role="form">
    <div class="row vertical-align query-bar">
      <div class="col-md-2 col-sm-3">
        <div class="fs-4 fw-bold">Enter your name</div>        
      </div>
      <div class="col-md-8 col-sm-6">
        <input class="form-control" id="player-name" name="player_name" type="text" />
      </div>
      <div class="col-md-2 col-sm-3">
        <button class="submit btn btn-lg btn-primary" id="player-name-submit" type="submit" value="submit">Play</button>
      </div>
    </div>
  </form>
</div>