/* toppop custom*/

/* .footer {
  position: fixed;
  width: 100%;
  color: white;
  text-align: center;
} */

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 2px 2px;
}

/* pgae body */
.main {  
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mgin {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr:hover {background-color: #D6EEEE;}

