<div class="container px-lg-5 main">
  <form action="/search" id="search-form" method="POST" role="form">
    <div class="row vertical-align query-bar">
      <div class="col-md-2 col-sm-3">
        <div class="fs-4 fw-bold">Search video</div>
      </div>
      <div class="col-md-8 col-sm-6">
        <input class="form-control" id="search_input" name="search_keyword" value="Taylor Swift" type="text" />
      </div>
      <div class="col-md-2 col-sm-3">
        <button class="submit btn btn-lg btn-primary" id="search-form-submit" type="submit" value="submit">Get videos</button>
      </div>
    </div>
  </form>
</div>