---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_TOKEN>&maxResults=5&part=snippet&q=taylor%20swift%20offical&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "P2YVjkOtAIuOYu0_PV8AefNprbI",
          "nextPageToken": "CAUQAA",
          "regionCode": "TW",
          "pageInfo": {
            "totalResults": 1000000,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "0eJSNAxJd562y0LVxYNKzKnl8nM",
              "id": {
                "kind": "youtube#video",
                "videoId": "b1kbLwvqugk"
              },
              "snippet": {
                "publishedAt": "2022-10-21T12:00:06Z",
                "channelId": "UCANLZYMidaCbLQFWXBC95Jg",
                "title": "Taylor Swift - Anti-Hero (Official Music Video)",
                "description": "Official music video for “Anti-Hero” by Taylor Swift from the album 'Midnights'. Buy/Download/Stream 'Midnights': ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/b1kbLwvqugk/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/b1kbLwvqugk/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/b1kbLwvqugk/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "TaylorSwiftVEVO",
                "liveBroadcastContent": "none",
                "publishTime": "2022-10-21T12:00:06Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "gZCW4P3W8o8N2eTURsZG1CuxuWA",
              "id": {
                "kind": "youtube#video",
                "videoId": "b7QlX3yR2xs"
              },
              "snippet": {
                "publishedAt": "2022-10-25T04:00:09Z",
                "channelId": "UCANLZYMidaCbLQFWXBC95Jg",
                "title": "Taylor Swift - Bejeweled (Official Music Video[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_TOKEN>&maxResults=5&part=snippet&q=wrong%20path&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE html>
        <html lang=en>
          <meta charset=utf-8>
          <meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
          <title>Error 400 (Bad Request)!!1</title>
          <style>
            *{margin:0;padding:0}html,code{font:15px/22px arial,sans-serif}html{background:#fff;color:#222;padding:15px}body{margin:7% auto 0;max-width:390px;min-height:180px;padding:30px 0 15px}* > body{background:url(//www.google.com/images/errors/robot.png) 100% 5px no-repeat;padding-right:205px}p{margin:11px 0 22px;overflow:hidden}ins{color:#777;text-decoration:none}a img{border:0}@media screen and (max-width:772px){body{background:none;margin-top:0;max-width:none;padding-right:0}}#logo{background:url(//www.google.com/images/branding/googlelogo/1x/googlelogo_color_150x54dp.png) no-repeat;margin-left:-5px}@media only screen and (min-resolution:192dpi){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat 0% 0%/100% 100%;-moz-border-image:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) 0}}@media only screen and (-webkit-min-device-pixel-ratio:2){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat;-webkit-background-size:100% 100%}}#logo{display:inline-block;height:54px;width:150px}
          </style>
          <a href=//www.google.com/><span id=logo aria-label=Google></span></a>
          <p><b>400.</b> <ins>That’s an error.</ins>
          <p>Your client has issued a malformed or illegal request.  <ins>That’s all we know.</ins>
  recorded_at: Fri, 28 Oct 2022 12:53:29 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=BAD_TOKEN&maxResults=5&part=snippet&q=taylor%20swift%20offical&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Fri, 28 Oct 2022 12:53:29 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=&key=&part=statistics,snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 403,
            "message": "The request is missing a valid API key.",
            "errors": [
              {
                "message": "The request is missing a valid API key.",
                "domain": "global",
                "reason": "forbidden"
              }
            ],
            "status": "PERMISSION_DENIED"
          }
        }
  recorded_at: Tue, 01 Nov 2022 11:36:57 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=b1kbLwvqugk&key=&part=statistics,snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 403,
            "message": "The request is missing a valid API key.",
            "errors": [
              {
                "message": "The request is missing a valid API key.",
                "domain": "global",
                "reason": "forbidden"
              }
            ],
            "status": "PERMISSION_DENIED"
          }
        }
  recorded_at: Tue, 01 Nov 2022 11:47:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=b1kbLwvqugk&key=<YOUTUBE_TOKEN>&part=statistics,snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "ElEisTUV9rTLwouEF9DOcYHkSIc",
          "it[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=b7QlX3yR2xs&key=<YOUTUBE_TOKEN>&part=statistics,snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "C_sPWGcYVRC1i5pRTztVXKizQIg",
          "it[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=RsEZmictANA&key=<YOUTUBE_TOKEN>&part=statistics,snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"gexnMW8OP7Ct98o8VKNy2HwWFqI\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"PG3FoicDlaaaE_ekFDcNsfIl8IA\",\n      \"id\": \"RsEZmictANA\",\n      \"snippet\":
        {\n        \"publishedAt\": \"2020-12-11T05:00:10Z\",\n        \"channelId\":
        \"UCANLZYMidaCbLQFWXBC95Jg\",\n        \"title\": \"Taylor Swift - willow
        (Official Music Video)\",\n        \"description\": \"Official music video
        by Taylor Swift performing “willow” – off her evermore album. \\nListen to
        the album here: https://taylor.lnk.to/evermorealbum\\n\\n\U0001F570️ Pre-order
        the new album Midnights by Taylor Swift available everywhere October 21: \\nhttps://taylor.lnk.to/taylorswiftmidnightsYT\\n\\n►Subscribe
        to Taylor Swift on YouTube: https://ts.lnk.to/subscribe \\n \\n►Exclusive
        Merch: http://taylorswift.lnk.to/store\\n\\n►Follow Taylor Swift online:\\nInstagram:
        http://instagram.com/taylorswift  \\nFacebook: http://facebook.com/taylorswift
        \ \\nTumblr: http://taylorswift.tumblr.com  \\nTwitter: http://twitter.com/taylorswift13
        \ \\nSnapchat: http://snapchat.com/add/taylorswift\\nWebsite: http://www.taylorswift.com
        \ \\n\\n►Follow Taylor Nation Online\\nInstagram: http://instagram.com/taylornation
        \ \\nTumblr: http://taylornation.tumblr.com  \\nTwitter: http://twitter.com/taylornation13
        \\n\\nstarring\\ntaylor swift\\nt[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=rg18Kf4en2o&key=<YOUTUBE_TOKEN>&part=statistics,snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "k9xXAmHkJ8KtByYI4rMNHPzd1CQ",
          "it[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=Odh9ddPUkEY&key=<YOUTUBE_TOKEN>&part=statistics,snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "e9kfHcu_7vMWk0e1_QlyCo9cahY",
          "it[...]
