---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_TOKEN>&maxResults=5&part=snippet&q=wrong%20path&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE html>
        <html lang=en>
          <meta charset=utf-8>
          <meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
          <title>Error 400 (Bad Request)!!1</title>
          <style>
            *{margin:0;padding:0}html,code{font:15px/22px arial,sans-serif}html{background:#fff;color:#222;padding:15px}body{margin:7% auto 0;max-width:390px;min-height:180px;padding:30px 0 15px}* > body{background:url(//www.google.com/images/errors/robot.png) 100% 5px no-repeat;padding-right:205px}p{margin:11px 0 22px;overflow:hidden}ins{color:#777;text-decoration:none}a img{border:0}@media screen and (max-width:772px){body{background:none;margin-top:0;max-width:none;padding-right:0}}#logo{background:url(//www.google.com/images/branding/googlelogo/1x/googlelogo_color_150x54dp.png) no-repeat;margin-left:-5px}@media only screen and (min-resolution:192dpi){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat 0% 0%/100% 100%;-moz-border-image:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) 0}}@media only screen and (-webkit-min-device-pixel-ratio:2){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat;-webkit-background-size:100% 100%}}#logo{display:inline-block;height:54px;width:150px}
          </style>
          <a href=//www.google.com/><span id=logo aria-label=Google></span></a>
          <p><b>400.</b> <ins>That’s an error.</ins>
          <p>Your client has issued a malformed or illegal request.  <ins>That’s all we know.</ins>
  recorded_at: Fri, 28 Oct 2022 10:02:46 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_TOKEN>&maxResults=5&part=snippet&q=taylor%20swift%20offical&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "EZ-waBRX7N-PW7RRH9VYwigSIhI",
          "nextPageToken": "CAUQAA",
          "regionCode": "TW",
          "pageInfo": {
            "totalResults": 1000000,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "0eJSNAxJd562y0LVxYNKzKnl8nM",
              "id": {
                "kind": "youtube#video",
                "videoId": "b1kbLwvqugk"
              },
              "snippet": {
                "publishedAt": "2022-10-21T12:00:06Z",
                "channelId": "UCANLZYMidaCbLQFWXBC95Jg",
                "title": "Taylor Swift - Anti-Hero (Official Music Video)",
                "description": "Official music video for “Anti-Hero” by Taylor Swift from the album 'Midnights'. Buy/Download/Stream 'Midnights': ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/b1kbLwvqugk/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/b1kbLwvqugk/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/b1kbLwvqugk/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "TaylorSwiftVEVO",
                "liveBroadcastContent": "none",
                "publishTime": "2022-10-21T12:00:06Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "gZCW4P3W8o8N2eTURsZG1CuxuWA",
              "id": {
                "kind": "youtube#video",
                "videoId": "b7QlX3yR2xs"
              },
              "snippet": {
                "publishedAt": "2022-10-25T04:00:09Z",
                "channelId": "UCANLZYMidaCbLQFWXBC95Jg",
                "title": "Taylor Swift - Bejeweled (Official Music Video[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=BAD_TOKEN&maxResults=5&part=snippet&q=taylor%20swift%20offical&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Fri, 28 Oct 2022 10:02:46 GMT
recorded_with: VCR 6.1.0
